$_fakeStretches: true !default;
$_fstretches: (ultra-condensed: " Ultra-Condensed", extra-condensed: " Extra-Condensed", condensed: " Condensed", semi-condensed: " Semi-Condensed", normal: "", semi-expanded: " Semi-Expanded", expanded: " Expanded", extra-expanded: " Extra-Expanded", ultra-expanded: " Ultra-Expanded");
$_fweights: (thin: 100, extra-light: 200, light: 300, normal: 400, medium: 500, semibold: 600, bold: 700, extra-bold: 800, black: 900);
