@{
  ViewBag.Header = "James Sobieski";
  string text = "Teeexxxxtt";
  for (int i = 0; i < 100; i++) {
    text += " teeexxxxtt";
  }
  text += ".";
}
<section>
  <header>
    <h1>Title 1</h1>
  </header>
  <p>@text</p>
</section>
<section>
  <header>
    <h1>Title 2</h1>
  </header>
  <p>@text</p>
</section>